<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Design</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Welcome to Free Design website</h1>
    <div sec:authorize="isAuthenticated()">
        Welcome, <span sec:authentication="name"/>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <a class="btn btn-primary" href="/artworks/create">Add Art Work</a>

    <!-- Button trigger export modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exportModal">
        Export
    </button>

    <!-- Export Modal -->
    <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exportModalLabel">Export Created Art Works</h1>
                    <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a class="btn btn-primary text-right" th:href="@{/artworks/export(exportId='xlsx')}">Export to Excel</a>
                    <a class="btn btn-primary text-right" th:href="@{/artworks/export(exportId='csv')}">Export to CSV</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Want to sell now</th>
            <th>Notes</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="artwork : ${artworks}">
            <td th:text="${artwork.id}"></td>
            <td th:text="${artwork.name}"></td>
            <td th:text="@{${artwork.price} + '$'}"></td>
            <td th:text="${artwork.wantToSell} ? 'Yes' : 'No'"></td>
            <td th:text="${artwork.notes}"></td>
            <td>
                <img th:src="@{'/images/' + ${artwork.imageFileName}}"
                     alt="..." width="100" height="100">
            </td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary"
                   th:href="@{/artworks/edit(id=${artwork.id})}">Edit</a>
                <!-- Button trigger export modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        th:attr="data-bs-target='#delete-modal'+${artwork.id}">
                    Delete
                </button>

                <!-- Delete Modal -->
                <div class="modal fade bd-example-modal-sm" th:id="delete-modal+${artwork.id}" tabindex="-1"
                     aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Delete this artwork?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div style="margin-left: 20px">
                                <img th:src="@{'/images/' + ${artwork.imageFileName}}"
                                     alt="..." width="100" height="100">
                            </div>
                            <div class="modal-body">
                                <a class="btn btn-danger text-right" th:href="@{/artworks/delete(id=${artwork.id})}">Delete</a>
                                <a class="btn btn-secondary text-right" data-bs-dismiss="modal">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>



